<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjx.multiple.data.sources.seata.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.zjx.multiple.data.sources.seata.domain.Account">
    <!--@mbg.generated generated on Sun Jul 19 21:57:27 CST 2020.-->
    <!--@Table account-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Jul 19 21:57:27 CST 2020.-->
    id, balance, last_update_time
  </sql>

  <select id="getBalance" resultType="java.lang.Integer">
    SELECT balance FROM account WHERE id = #{userId}
  </select>

  <update id="reduceBalance">
    UPDATE account SET balance = balance - #{price} WHERE id = 1 AND balance >= ${price}
  </update>


</mapper>