<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjx.multiple.data.sources.seata.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.zjx.multiple.data.sources.seata.domain.Product">
    <!--@mbg.generated generated on Sun Jul 19 22:13:17 CST 2020.-->
    <!--@Table product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Jul 19 22:13:17 CST 2020.-->
    id, stock, last_update_time
  </sql>

  <select id="getStock" resultType="java.lang.Integer">
    SELECT stock FROM product WHERE id = #{productId}
  </select>

  <update id="reduceStock">
    UPDATE product SET stock = stock - #{amount} WHERE id = #{productId} AND stock >= #{amount}
  </update>

</mapper>